build==1.5.0
chardet==7.4.3
iniconfig==2.3.0
joblib==1.5.3
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pluggy==1.6.0
polars==1.39.3
polars-runtime-32==1.39.3
Pygments==2.20.0
pyproject_hooks==1.2.0
pytest==9.0.3
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
threadpoolctl==3.6.0
